/* Estilos para tu componente de navegación */
nav {
    background-color: rgba(0, 0, 0, 0.7); /* Utilizamos rgba para especificar un color de fondo con un valor de alfa (transparencia) */
    padding: 10px; /* Añade algún espacio alrededor del contenido del componente de navegación */
    opacity: 50; /* Establece la transparencia al 90% */
    /* Otros estilos específicos de tu navegación */
}

.link {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.link:hover {
    cursor: pointer;
}